body {
  font-family: Arial, sans-serif;

  background-image: url("Picture 22.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: white;
  line-height: 1.6;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
}
